/*======================================================
*               Inicio main institucional
* ======================================================*/
/*
*Criação do main_institucional da página Institucional onde ficará o titulo, o menu ,e o texto da página.
Ex:
*	Titulo
*	-------------------------------------------------------------
*	Menu						Texto
*
*/
/*
*		Configuração do menu da pagina
*/
.page-menu
{
	list-style: none;
	padding-left: 0;
}
.page-menu li
{
	border-bottom: 1px solid #ddd;
	padding: 10px;
}
.page-menu li a
{
	text-decoration: none;
	color: #5e5e5e;
	font-size: 17px;
	font-family: 'Helvetica';
}
.page-menu li a:hover{color: #8a0d2a;}
/*
*		Configuração do texto da pagina
*/
.page-text{padding: 10px;}
.page-text h3
{
	color:	#8a0d2a;
	font-family: 'Helvetica';
	font-size: 20px;
}
.page-text p
{
	margin-bottom: 0;
	color:	#5e5e5e;
	font-family: 'Helvetica';
}
/*
*               Fim main institucional
* ======================================================*/