/*======================================================
*               Inicio main Contatos
* ======================================================*/
/*
*Criação da pagina de contatos onde ficara o titulo a pagina,
*o endereco, a localizacao e o form de email
*Ex:
*Titulo
*============================================================
*Endereco								Form de email
*Localizacao
*/
/*
*		Configurando enderenco dos contatos
*/
.contacts-address
{
	color: #5e5e5e;
	font-size: 15px;
	margin-top: 30px;
	margin-bottom: 30px;
}
/*
*		Configurando titulo do mapa
*/
.contacts-map-title h3
{
	color: #8a0d2a;
	font-size: 16px;
	border-bottom: 1px solid #ddd;
	padding-bottom: 10px;
}
/*
*		Configurando formulario (CformsII)
*/
div.cf_info{
	width:auto !important;
}
.cform{
	width: auto !important;
	min-height: 585px;
	max-height: auto;
	background-color: #f7f7f7 ;
	border-radius: 3px;
	border: 1px solid #ddd !important;
	margin-top: 20px;
	padding: 15px;
}
.cform legend{
	padding-bottom: 15px !important;
	margin-top: 0 !important;
	border-bottom: 1px solid #ddd;
	font-size: 15px !important;
	color:#5e5e5e !important;
	background-color: transparent !important;
}
.cform fieldset{
	margin-top: 8px !important;
	border-bottom: 1px solid #ddd !important;
}
.cform label{
	position: relative;
	display: block !important;
	text-align: left !important;
	color: #5e5e5e !important;
}
.cform input[type=text],
.cform textarea{
	background: #fff !important;
	width: 100% !important;
	padding:8px !important;
	border-radius: 3px;
	transition: 0.2s linear;
}
.cform input[type=text]:hover,
.cform textarea:hover{
	transition: 0.2s linear;
	border:1px solid #ddd !important;
	padding:8px !important;
}
.cform input.sendbutton{
	border:1px solid #ddd !important;
	padding: 5px !important;
	padding-left: 25px !important;
	padding-right: 25px !important;
	margin-top: 10px !important;
	border-radius: 3px !important;
	background: #fff !important;
	margin: 10px 0px 0px 0px !important;
	width: 100px !important;
	transition: 0.2s linear;
}
.cform input.sendbutton:hover{
	transition: 0.2s linear;
	background: #fff !important;
	border:1px solid #ddd !important;
}
span.reqtxt,
span.emailreqtxt{
	width:100% !important;
	padding:0 !important;
	margin: 0 !important;
	color:#5e5e5e !important;
	font-size: 11px !important;
}
/*
*               Fim main Contatos
* ======================================================*/