/*======================================================
*               Inicio main concursos_detalhes
* ======================================================*/
/*
*Criação dos detalhes do concurso onde ficara o titulo da pagina, titulo do concurso,
*data e visitas, logo do concurso,texto inicial e final, resultado,
*anexos, mapa, botao de voltar para concursos
*Ex:
* Titulo da pagina						Botao
* =================================================
*titulo do concurso
*data e visitas
*logo do concurso	texto inicial 				Resultado
*texto final									Anexos
*mapa
*/
/*
*		Configurando titulo do detalhe do concurso
*/
.contests-details-title p{color:#919191;}
.contests-details-title h3
{
	margin-top: 30px;
	margin-bottom: 0;
	color:	#8a0d2a;
	font-family: 'Helvetica';
	font-size: 25px;
}
/*
*		Configurando texto e imagem do detalhe do concurso
*/
.contests-details-text p{color:#5e5e5e;}
.contests-details-text h4
{
	margin-top: 50px;
	font-size: 15px;
}
.contests-details-text-img
{
	width: 292px;
	height:204px;
	background-color: #f7f7f7;
	border-radius: 3px;
	border:1px solid #ddd;
	float: left;
	margin-right: 7px;
}
@media (max-width: 767px)
{
	.contests-details-text-img
	{
		margin-bottom: 20px;
	}
}
.contests-details-text-img img
{
	width: 100%;
	height:100%;
	padding: 5px;
}
/*
*		Configurando titulo do mapa
*/
.contests-details-map-title h4
{
	color: #8a0d2a;
	font-size: 16px;
	padding: 10px;
	border-bottom: 1px solid #ddd;
}
/*
*		Configrando box de resultado
*/
.contests-details-result-box
{
	margin-top: 50px;
	width: 100%;
	height:auto;
	background-color: #f7f7f7;
	border-radius: 3px;
	border:1px solid #ddd;
	float: left;
}
.contests-details-result-box header h2
{
	border-bottom: 1px solid #ddd;
	padding:10px;
	color: #b91138;
	font-size: 17px;
	margin-left: 10px;
	margin-right: 10px;
}
.contests-details-result-box ul
{
	padding: 20px;
	margin-left: 10px;
	list-style: none;
}
.contests-details-result-box li a
{
	text-decoration: none;
	color: #5e5e5e;
	font-size: 17px;
}
/*
*		Configurando box de anexos
*/
.contests-details-attachment-box
{
	margin-top: 30px;
	width: 100%;
	height:auto;
	background-color: #f7f7f7;
	border-radius: 3px;
	border:1px solid #ddd;
	float: left;
}
.contests-details-attachment-box header h2
{
	border-bottom: 1px solid #ddd;
	padding:10px;
	color: #b91138;
	font-size: 17px;
	margin-left: 10px;
	margin-right: 10px;
}
.contests-details-attachment-box ul
{
	padding: 20px;
	margin-left: 10px;
	list-style: none;
}
.contests-details-attachment-box li .fa{color:#8a0d2a;}
.contests-details-attachment-box li a
{
	text-decoration: none;
	color: #919191;
	font-size: 14px;
}
.contests-details-attachment-box li a:hover{color:#000;}
/*
*               Fim main concursos_detalhes
* ======================================================*/