/*======================================================
*               Inicio main noticias
* ======================================================*/
/*
*Criação da pagina de noticias onde ficara o titulo , noticias, concursos,
*e a paginacao das noticias.
*Ex:
*	Titulo
* ===========================================================================
*	Noticias										Concursos
*	Paginacao
*/
/*
*       Configuracao da box de noticia especifica somente para essa pagina
*/
.news-box
{
	width: auto;
	height: auto;
	border:1px solid #ddd;
	border-radius: 3px;
	margin-top: 30px;
	position:relative;
	padding-left: 15px;
	padding-right: 15px;
}
#news .news-box-item
{
	position:relative;
	height: auto;
}
#news .news-box-item a
{
	text-decoration:none;
}
#news .news-box-item-img img
{
	width: 100%;
	/*float:left;*/
}
#news .news-box-item h3{color: #8a0d2a;}
#news .news-box-item-text
{
	font-size: 15px;
	color: #5e5e5e;
}
#news .news-box-item-link
{
	background-color: #8a0d2a;
	color:#fff;
	right: 10px;
	border-radius:3px;
	margin-right: 5px;
	border: 0px;
	padding: 5px;
}
#news .news-box-item-date
{
	text-decoration: none;
	font-size: 12px;
	color:#919191;
}
/*
*               Fim main noticias
* ======================================================*/