/*======================================================
*               Inicio main noticia_detalhes
* ======================================================*/
/*
/*
*Criação da pagina interna de noticias onde ficara o titulo da pagina,
*o botao pra voltar, titulo da noticia, a data da noticia, o texto se houver,
*, as imagens, e uma box com as outras noticias ao lado.
*Ex:
*Titulo												Botao
*==============================================================
*Titulo da noticia								Box de noticias
*data
*Texto
*Imagens
*/
/*
*		Configuração do detalhe da noticia
*/
.news-details-title h3
{
	color:#8a0d2a;
	font-size: 25px;
}
.news-details-title-date,
.news-details-text
{
	font-size: 15px;
	color: #5e5e5e;
}
.news-details-text-img img
{
	width: 100%;
	padding:5px;
}
/*
*               Fim main noticia_detalhes
* ======================================================*/