/*======================================================
*               Inicio main index
* ======================================================*/
/*
*Criacao do main_index onde ficara os conscursos, slider, avisos, noticias, seleções
*convenios e parceiros.
*Ex:
*   Concursos       Slider
    Avisos          Noticias
    Selecoes        Convenios   Parceiros
*/
#main h2{font-size: 15px;}
/*
*       Configuracao da box de concurso
*/
#contests .box-title h2{font-size: 15px;}
#contests .box-item-img img
{
    width: 100%;
    height: 76px;
    /*margin-right: 5px;*/
}
#contests .box-item-img
{
    margin: 5px !important;
}
#contests .box-item-text .box-item-link
{
    color: #5e5e5e;
    font-size: 14px;
    text-decoration: none;
}
#contests .box-item-text .box-item-link:hover{color: #000;}
#contests .box-item-text .box-item-date
{
    color:#919191;
    font-size: 12px;
    display: block;
}
#contests .box-item-text .box-item-status
{
    color:#00b2b2;
    font-size: 12px;
    display: block;
}
/*
*       Configuracao do banner
*/
.main-slider
{
    position: relative;
    height: 300px;
    width: auto;
    margin-top: 30px;
}
@media (min-width: 320px) and (max-width: 992px) {
    .main-slider
    {
        position: relative;
        height:auto;
        width: auto;
        margin-top: 30px;
    }
}
/*
*       Configuracao da box de avisos
*/
#warnings .box-warnings-img img
{
    width: 100%;
    height: 80%;
    padding: 10px;
}
/*
*       Configuracao da box de noticias
*/
#news .box-title h2{font-size: 15px;}
#news .box-item-img
{
    margin: 5px !important;
}
#news .box-item-img img{height: 76px;}
#news .box-item .box-item-link
{
    font-size: 17px;
    color: #5e5e5e;
    text-decoration:none;
}
#news .box-item .box-item-link:hover{color: #000;}
#news .box-item .box-item-text,
#news .box-item .box-item-date
{
    font-size: 12px;
    color:#919191;
    display: block;
}
/*
*       Configuracao da box de selecoes
*/
#selections .box-item .box-item-title
{
    font-size: 15px;
    color: #000;
}
#selections .box-item .box-item-status
{
    font-size: 12px;
    color: #00b2b2;
}
#selections .box-item .box-item-link
{
    text-decoration:none;
    color: #8a0d2a;
    font-size: 12px;
    float: right;
}
#selections .box-item .box-item-link:hover{color:#000;}
/*
*       Ajuste da imagem na box de convenios e parceiros
*/
.container-adjustment img
{
    width: 80%;
    height: 80%;
    padding-left:20%;
    padding-top: 20%;

}
/*
*               Fim main index
* ======================================================*/