/*======================================================
*               Inicio main concursos
* ======================================================*/
/*
*Criação da pagina de concursos onde ficara o titulo da pagina,
*boxes dos concursos, campo de filtro e tipo de filtro e paginacao
*Ex:
*Titulo
*==================================================================
*Boxes de concursos								campo de filtro
*												tipo de filtro
*						Paginacao
*/
/*
*		Configuracao da boxes dos concursos da pagina concursos
*/
#contests-box .box-item-img img
{
	width:  100%;
	height: 150px;
	padding: 5px;
	margin: 0;
}
#contests-box .box-item-desc
{
	font-size: 16px;
	color: #000;
	margin-top: 5px;
	font-family: 'Helvetica';
}
#contests-box .box-item-status
{
	font-size: 13px;
	color: dimgray;
	font-family: 'Helvetica';
}
#contests-box .box-item-link
{
	background-color: #8a0d2a;
	color:#fff;
	border: 0;
	border-radius: 3px;
	padding: 10px;
	padding-right: 20px;
	padding-left: 20px;
	margin-top: 20px;
}
#contests-box a{text-decoration: none;}
/*
*		Configuração do grupo de pesquisa do filtro
*/
.contests-filter button
{

	background-color: #8a0d2a;
	color:#fff;
	position: absolute;
	right: 10px;
	border-radius: 0px 3px 3px 0px;
	margin-right: 5px;
	border: 0px;
	padding-top: 7px;
	padding-bottom: 7px;

}
.contests-filter input
{
	position: relative;
	border-radius: 3px 3px 3px 3px;
	width: 87%;
	border: 0px;
	padding-top: 6px;
	padding-left: 40px;
	padding-bottom: 6px;
	border: 1px solid #C0C0C0;
    background-image: url(../img/icones/search.png);
    background-repeat: no-repeat;
    background-position: 3%;
}
.contests-filter-box
{
	border: 1px solid #ddd;
	border-radius: 3px;
	width: auto;
	height: 230px;
	background-color: #f7f7f7;
    padding:15px;
}
.contests-filter-box-title h3
{
	color: #000;
	font-size: 16px;
	padding: 10px;
	margin: 0;
	border-bottom: 1px solid #ddd;
	font-size: 15px;
}
.contests-filter-box-options,
.contests-filter-box-options ul
{
	padding: 30px;
	font-size: 15px;
	list-style: none;
}
.contests-filter-box-options i{color: #ddd;}
.contests-filter-box-options li a
{
	color: #919191;
	text-decoration:none;
}
.contests-filter-box-options li a:hover{color: #000;}
/*
*               Fim main concursos
* ======================================================*/