/*======================================================
*               Inicio header principal
* ======================================================*/
/*
*Criação do header principal que irá ficar o logo da empresa,o sistema de busca, e o icone de contatos.
*Ex:
*       ======================================
*           LOGO        BUSCAR   Mensagens
*       ======================================
*/
.main-header{background-image: linear-gradient(to bottom, #e4e4e4, #fff 50%);}
/*Media querry para colocar o espaço interno de acordo com a tela*/
@media (min-width: 414px) and (max-width: 1980px)
{
    .main-header{padding: 20px;}
}
.search_group input
{
    position: relative;
    width: 75%;
    border-radius: 3px 3px 3px 3px;
    margin-right: 5px;
    border: 0px;
    padding-top: 6px;
    padding-bottom: 6px;
    border: 1px solid #C0C0C0;
    padding-left: 40px;
    background-image: url(../img/icones/search.png);
    background-repeat: no-repeat;
    background-position: 3%;
}
/*Media querry para diminuir campo dependendo da tela*/
@media (width: 320px)
{
    .search_group input{width:71%;}
}
.search_group  button
{

    background-color: #8a0d2a;
    color:#fff;
    position: relative;
    right: 10px;
    border-radius: 0px 3px 3px 0px;
    margin-right: 5px;
    border: 0px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 7px;

}
.about-button,
.about-button:hover
{
    position: relative;
    padding: 7px;
    background-color: #5b091c;
    border-radius: 3px;
    color: #fff;
    font-size: 17px;
}

/*======================================================
*               Inicio header secundario
* ======================================================*/
/*
*Criação do header secundário que irá ficar o menu com seus respectivos itens.
*Ex:
*   ============================================================
*   | Inicial | Institucional | Concurso | Noticias | Contatos |
*   ============================================================
*
*/
/*
*       Menu normal
*/
.secondary-header
{
    background-color:  #8a0d2a;
    height: 52px;
}
.header-menu ul {padding-left: 15px;}
.header-menu ul li
{
    list-style: none;
    border-left: 1px solid #a10f31;
}
.header-menu ul li a
{
    font-family: "Helvetica";
    font-size: 16px;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
}
.header-menu ul li a:hover
{
    background-color: #5b091c;
    color: #FF8C00;
}
/*
*       Menu Responsivo
*/
@media (max-width: 767px)
{
    .header-menu ul
    {
        background-color: #8a0d2a;
    }
    .header-menu ul li
    {
        list-style: none;
        border-top: 1px solid #a10f31;
        border-left: none;
    }
    .header-menu ul li a
    {
        font-family: "Helvetica";
        font-size: 16px;
        color: #fff;
        font-size: 16px;
        text-decoration: none;
        background-color: #8a0d2a;
        padding: 15px;
    }
    .header-menu ul li a:hover
    {
        background-color: #5b091c;
        color: #FF8C00;
    }
}

/*======================================================
*               Inicio Componentes
* ======================================================*/
/*
*       Configuração do titulo das paginas
*/
.page-title h2
{
    padding: 10px;
    color:  #8a0d2a;
    font-family: 'Helvetica';
    font-size: 25px;
}
.page-title{border-bottom: 1px solid #ddd;}
.page-title .page-title-button
{
    background-color: #8a0d2a;
    color:#fff;
    border: 0;
    border-radius: 3px;
    padding: 7px;
    text-decoration: none;
    font-size: 15px;
    vertical-align: middle;
}

/*
*       Configuracao padrao das boxes
*/
.box
{
    position: relative;
    margin-top: 30px;
    width: auto;
    height: 330px;
    border: 1px solid #D3D3D3;
    border-radius: 3px 3px 3px 3px;
    overflow:hidden;
}
.box-title
{
    background-color: #ddd;
    width: 100%;
    color: #004f9d;
    padding:5px;
    padding-left: 10px;
    font-size: 15px;
    font-family: "Helvetica";
}
.box-title a
{
    text-decoration: none;
    color: #5e5e5e;
    font-size: 12px;
    float: right;
}
.box-title a:hover{color: #8a0d2a;}
.box-title-icon
{
    padding: 17px;
    width: 22px;
    height: 16px;
    background-image: url('../img/icones/concurso.png');
    background-repeat: no-repeat;
    background-position: center;
}
.box-item
{
    position:relative;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 84%;
    bottom:0;
}
.box ::-webkit-scrollbar { width: 8px;}
.box ::-webkit-scrollbar-thumb { background-color: #ddd; }
.box ::-webkit-scrollbar-thumb:window-inactive {background-color:transparent;}
.box-item-text
{
    float: left;
    padding-left: 0;
    padding-right: 0;
}
.box-bordered
{
    width: 100%;
    height: auto;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 3px;
}
.box-bordered img
{
    width: 100%;
    padding:5px;
}

/*
*       Estilo da paginação e seus botões
*/
.page-pagination a,
.page-pagination label
{
    font-size: 15px;
}
.page-pagination span
{
    background-color: #8a0d2a;
    color: #fff;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border:none;
    text-decoration: none;
}
.page-pagination a
{
    background-color: #ddd;
    color: #000;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border:none;
    text-decoration: none;
}
.page-pagination a:hover
{
    background-color: #ccc;
    text-decoration: none;
}

/*======================================================
*               Inicio Metrics
* ======================================================*/
.margin-top-30
{
    margin-top: 30px;
}
.margin-top-20
{
    margin-top: 20px;
}
.margin-top-10
{
    margin-top: 20px !important;
}
.margin-top:first-child
{
    margin-top: 10px;
}
.margin-less-right
{
    margin-right: 5px;
}
.margin-top-more
{
    margin-top: 40px;
}
.margin-bottom
{
    margin-bottom: 20px;
}
.item-border-bottom
{
    border-bottom: 1px solid #ddd;
}
.border-bottom:last-child
{
    border-bottom: none;
}
.padding-5
{
    padding: 5px;
}
.padding-10
{
    padding: 10px;
}
.padding-less-right
{
    padding-right: 8px;
}
.padding-less-left
{
    padding-left: 8px;
}
.padding-bottom-10
{
    padding-bottom: 10px;
}
.no-padding
{
    padding: 0;
}
@media(max-width: 767px)
{
    .xs-text-center
    {
        text-align: center;
    }
}
.inline-block
{
    display: inline-block;
}
.float-right
{
    float: right;
}
.width-percent-90
{
    width: 90%;
}
@media (width: 320px)
{
    .width-percent-90{width:89%;}
}
.border-1
{
    border:1px solid #ddd;
}

/*======================================================
*               Inicio Cores
* ======================================================*/
.bg-gray-color{background-color:#f7f7f7 !important}

/*======================================================
*                     Inicio Footer
* ======================================================*/
/*
*Criação do footer da página que ira fica o logo, endereço, contato, menu e institucional
*Ex:
*  =======================================
*   Logo            Menu    Institucional
*
*   Endereço        Itens   Itens
*   Contato
*  =======================================
*/
#footer
{
    padding: 30px;
    background-color: #8a0d2a;
    margin-top: 30px;
    min-height: 400px;
}
.footer-info h3
{
    font-size: 13px;
    color: #FF8C00;
}
.footer-info address h4 a
{
    color: #fff;
    text-decoration:none;
}
.footer-menus h3
{
    color:#f2718f;
    padding: 5px;
}
.footer-menus ul
{
    padding: 0;
    padding-right: 50px;
}
.footer-menus ul li
{
    border-bottom: 1px solid #730b23;
    padding: 5px;
    list-style: none;
}
.footer-menus a
{
    color:#fff;
    font-size: 12px;
    text-decoration: none;
}
.footer-menus a:hover
{
    color: #D3D3D3;
    text-decoration: none;
}